src/main/resources/network-event.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://greglturnquist.com/test"
		   targetNamespace="http://greglturnquist.com/test" elementFormDefault="qualified">

	<xs:element name="sendNetworkEventRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="hostname" type="xs:string" />
				<xs:element name="severity" type="xs:integer" />
				<xs:element name="description"  type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="sendNetworkEventResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="status" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>
